
.container {
  background-color: #00f;
  /* border: 5em black inset; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
  }
  
  .playButton {
    background-color: #00f;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .settings {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .settings button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .menuButton {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .credits,
  .profile {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .credits button,
  .profile button {
    background-color: #00f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

/* new shit */
  .isometricMap {
    width: 90vw;
    height: 90vh;
    /* perspective: 300px; */
    /* background-color: gray; */
  }
  
  .mapContainer {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
  }
  .mapRow {
    display: flex;
  }
  
  .mapTile {
    /* flex-grow: 1; */
    width: 64px;
    height: 64px;
    background-color: #ccc;
    /* transform-style: preserve-3d;
    transition: transform 0.1s ease-in-out; */
  }
  .mapTile2 {
    /* flex-grow: 1; */
    width: 64px;
    height: 64px;
    background-color: blue;
    /* transform-style: preserve-3d;
    transition: transform 0.1s ease-in-out; */
  }
  
  .player {
    width: 32px;
    height: 32px;
    background-color: greenyellow;
    /* position: absolute; */
    /* transform-style: preserve-3d; */
    /* transition: transform 0.1s ease-in-out; */
    /* position: 'absolute'; */
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
  }

  .minion {
    width: 32px;
    height: 32px;
  
  }

  .fps {
    position: absolute;
    outline: 2px dashed orange;
    top: 100%;
    left: 0%;
  }
  .gameTime {
    font-size: 2em;
    position: absolute;
    top: 0%;
    border: 2px dashed red;
    width: 100%;
  }

  @keyframes fade-out {
    100% {
      opacity: 0;
      display: none;
    }
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .attack {
    height: 1em;
    width: 1em;
    /* background-color: black; */
    /* TODO: This looks terrible */
    border: 2px dashed black;
    animation: spin 0.5s forwards infinite;
  }